apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:  
      containers:
        - name: ping-pong-app
          image: temibonn/ping-pong:v2.1.2
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: PING_PONG_PORT
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_HOST
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_PORT
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ping-pong-secret
                  key: POSTGRES_PASSWORD

