apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:  
      containers:
        - name: ping-pong-app
          image: temibonn/ping-pong:v2.1.2
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              valueFrom: 
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: PING_PONG_PORT

