apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ping-pong-stset
  namespace: exercises
spec:
  serviceName: ping-pong-svc
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: ping-pong-cfg
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-db
              mountPath: /db
  volumeClaimTemplates:
    - metadata:
        name: postgres-db
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: local-path
        resources:
          requests:
            storage: 10Mi



