apiVersion: v1
kind: PersistentVolume
metadata:
  name: image-pv
spec:
  storageClassName: image-pv
  capacity:
    storage: 50Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  local:
    path: /usr/local
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - k3d-mooc-agent-0
