apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:  
      labels:
        app: log-output
    spec:  
      containers:
        - name: log-output
          image: temibonn/log-output:v3.1.3
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: PING_PONG_SERVICE_NAME  
              value: ping-pong-svc
            - name: PING_PONG_PORT  
              value: "3001"
            - name: PING_PONG_SUBDIRECTORY 
              value: "pings"    

